.primary,.secondary {
    color: white;
    padding: 20px 40px 20px 40px;
    font-family: RobotoMedium, sans-serif;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


.primary {
    background-color: #4452FE;
   
}

.secondary {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 19px 40px 19px 40px;
}