

body {

    width: 100vw;
    background-color: #181818;

}

.header__main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.header__main div {
    width: 200px;
}

.header__main div img {
    animation-name: logo_moving;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes logo_moving {
    0% {
        transform: translate(-20px);
    }
    100% {
       transform: translate(20px);
    }
}

.header__nav {
    margin-left: 7%;
    margin-right: 11%;
}

.header__nav a {
    margin-right: 31px;
    color: white;
    text-decoration: none;
    font-family: RobotoMedium, sans-serif;
}

.header__nav a:hover {
    color: grey;
}

.header__nav a:last-child {
    margin-right: 0;
}

.header__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 50px 0 50px 0;
    color:white;
}

.header__texts-title {
    font-size: 80px;
    font-family: RobotoMedium,sans-serif;
    margin: 0;
    width: 680px;
    text-align: center;
}

.header__texts-subtitle {
    font-size: 20px;
    font-family: RobotoLight,sans-serif;
    margin: 17px 0 0 0;
    width: 680px;
    text-align: center;
}

.header__buttons {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__first-button {
    margin-right: 35px;
}

.header__image {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__image img {
    width: 100%;
}

@media (max-width:800px) {

    .header__texts {
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .header__texts-title,
    .header__texts-subtitle {
        width: 100%;
        
    }

    .header__texts-title {
        font-size: 50px;
    }

    .header__texts-subtitle {
        font-size: 17px;
    }

    .header__main {
        flex-direction: column;
        margin-top: 30px;
    }

    .header__nav {
        margin: 20px 0;
    }
}

@media (max-width:450px) {
    .header__main {
        height: auto;
    }
    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .header__nav a {
        margin-right: 0;
        margin-top: 10px;
    }
    .header__buttons {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .header__buttons > button:first-child {
        margin-right: 0;
    }
}