.main__features, .main__content, .main__gallery, .main__partners , .main__testimonials{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__phone {
    -webkit-text-decoration: none;
}
.main__title,
.main__subtitle {
    font-family: RobotoLight, sans-serif;
    margin-bottom: 0;
    text-align: center;
    width: 40%;
}

.main__title {
    margin-top: 162px;
    font-size: 52px;
}

.main__subtitle {
    margin-top: 27px;
    font-size: 20px;
}

.main__image {
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main__image > img {
    height: 700px;
}

.main__image ul {
    margin: 0;
    padding: 0;
}
.main__image ul li {
    list-style-type: none;
    margin-bottom: 35px;
    width: 200px;
}

.main__image ul li:last-child {
    margin-bottom: 0;
}

.main_li_header {
    display: flex;
    font-size: 20px;
    font-family: RobotoMedium, sans-serif;
    align-items: center;
    height: 80px;
}

.main_li_header img {
    margin-right: 12px;
}

.main_li_header span {
    align-self: flex-start;
    margin-top: 20px;
}

.main_li_footer{
    margin-top: 20px;
    width: 270px;
    font-family: RobotoLight;
    font-size: 16px;
}

.main__cards {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.main__card {
    background-color: white;
    width: 476px;
    height: 588px;
    border-radius: 10px;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main__cards h1 {
    color: #000000;
    margin: 0;
    font-size: 20px;
    font-family: RobotoMedium, sans-serif;
    text-align: center;
}

.main__cards h5 {
    color: #5C5C5C;
    margin: 0;
    font-family: RobotoLight, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 270px;
    margin-top: 26px;
}

.first__card {
    margin-right: 33px;
}

/* GALLERY */
.gallery__section img {
    border-radius: 12px;
    margin-right: 28px;
}

.gallery__section img:last-child {
    margin-right: 0;
}

.gallery_first_row, .gallery_second_row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
}
.gallery_second_row {
    margin-bottom: 44px;
}

/* PARTNERS */
.partners__images {
    width: 800px;
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    align-items: center;
    -webkit-align-items: center;
    column-gap: 70px;
}

.partners__images__container {
    display: flex;
    animation-name: partners__logos__carusel;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 
}

@keyframes partners__logos__carusel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-52%);
    }
}

.partners__images img {
    height: 60px;
    margin-right: 70px;
    margin-bottom: 54px;
}

.partners__images img:last-child {
    margin-right: 0;
}

.testimonial {
    border: 1px solid white;
    border-radius: 10px;
    padding: 40px;
    width: 340px;
}

.testimonial__title {
    display: flex;
    margin-bottom: 30px;
}

.testimonial__title img {
    margin-right: 23px;
}


.testimonial__name, .testimonial__job {
    font-family: RobotoMedium, sans-serif;
}

.testimonial__job {
    margin-top: 4px;
}

.testimonials {
    margin-top: 50px;
    height: 640px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

@media (max-width:1180px) { 

    .main__image {
        flex-direction: column;
        width: 80%;
    }

    .main__image ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
    }

    .main__image ul li {
        margin-bottom: 0;
    }

    .main__cards {
        flex-direction: column;
        row-gap: 40px;
    }

    .first__card {
        margin: auto;
    }

    .gallery__section {
        width: 80%;
    }
    .gallery__section img {
        margin: 0;
    }
    .gallery_first_row {
        flex-wrap: wrap;
        gap: 20px;
    }
    .gallery_first_row img {
        width: calc((100% / 2) - 20px);
        margin-right: 0;
        height: 500px;
    }

    .gallery_second_row {
        flex-wrap: wrap;
        gap: 20px;
    }
    .gallery_second_row img  {
        width: calc((100% / 2) - 20px);
        height: 450px
    };
}

@media (max-width:1150px) {


    .gallery_first_row img {
        width: 400px;
    }
    .gallery_second_row img  {
        display: none
       
    };
 }

@media (max-width:1000px) { 
    .main_li_footer {
        width: auto;
    }
}

@media (max-width:900px) { 
    .testimonials {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }

    .footer {
        flex-direction: column;
    }
    .footer__links {
        justify-content: center;
    }

    .footer__info {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__testimonials .main__title {
        width: 300px;
        font-size: 44px;
    }
}

@media (max-width:800px) {
    .main__image > img {
        display: none;
    }

    .partners__images {
        width: 400px;
    }

    .main__image ul {
        flex-direction: column;
    }
    .main__image ul li {
        margin-top: 20px;
    }

    .main__subtitle {
        width: 400px;
    }
}

@media (max-width:700px) {

    .main__cards {
        align-items: center;
    }
    .main__card {
        width: 80%;
    }

    .main__title {
        width: 260px;
    }
}

@media (max-width:540px) {
    .main__subtitle {
        width: 90%;
    }

    .main__cards {
        align-items: center;
    }
    .main__card {
        width: 290px;
        height: 400px;
    }
    .main__card img {
        width: 270px;
    }

    .partners__images {
        width: 300px;
    }

    .gallery_first_row img {
        width: 270px;
        height: 350px;
    }

    .testimonial {
        width: 270px;
        padding: 20px;
    }

    .gallery_first_row img:first-child {
        display: none;
    }
    .gallery_first_row img:nth-child(2) {
        display: none;
    }

}